#!/bin/bash

source /home/app-vapormap/vapormap-prod/venv/app/bin/activate
cd /home/app-vapormap/vapormap-prod/app/api
export VAPOR_DBNAME={{database_vapormap}}
export VAPOR_DBUSER={{use_vapormap}}
export VAPOR_DBPASS={{password_vapormap}}
export VAPOR_DBHOST=localhost
export FLASK_APP=app
export SETTINGS_FILE="production"
flask db upgrade
deactivate

